<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/editAll.css">
    <title>Edição</title>
    
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/produtos">Produtos</a></li>
          <li><a href="/zones">Zones</a></li>
          <% if (username.role === 'admin') { %>
            <li><a href="/editAll">Edição</a></li>
          <% } %>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/logout">Sair</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
        <li><a href="/produtosEdit">Editar Produtos</a></li>

        <li><a href="/zonesEdit">Editar zonas</a></li>
    </div>

    <script>
      function adjustNavMargin() {
        const navUl = document.querySelector('nav ul');
        const hasScrollbar = window.innerWidth > document.documentElement.clientWidth;

        if (hasScrollbar) {
          navUl.style.marginLeft = '15px';
        } else {
          navUl.style.marginLeft = '0';
        }
      }

      document.addEventListener('DOMContentLoaded', adjustNavMargin);
      window.addEventListener('resize', adjustNavMargin);
    </script>
  </body>
</html>