body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #f0f0f0; /* Fundo cinza claro */
}

header {
background-color: #333;
color: #fff;
padding: 1rem;
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 1000;
}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
justify-content: center;
}

nav ul li {
margin: 0 1rem;
}

nav ul li a {
color: #fff;
text-decoration: none;
font-weight: bold;
}

nav ul li a:hover {
text-decoration: underline;
}

.container {
padding: 5rem 2rem 2rem; /* Aumentei o padding superior para 10rem */
max-width: 1200px;
margin: 0 auto;
}

.project-description {
max-width: 800px;
margin: 0 auto;
padding: 2rem;
background-color: #fff;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
text-align: center;
}

.project-description h2 {
font-size: 1.4rem;
color: #333;
margin-top: 1.5rem;
}

.project-description p {
font-size: 1rem;
color: #333;
line-height: 1.6;
}

.project-description ul {
list-style-type: disc;
margin: 1rem 0;
padding-left: 2rem;
}

footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 1rem;
width: 100%;
bottom: 0;
}