body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Labels e inputs */
label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="button"] {
    background-color: #6c757d;
}

button:hover {
    background-color: #0056b3;
}

button[type="button"]:hover {
    background-color: #5a6268;
}

/* Canvas e imagem */
#image-container {
    margin-top: 20px;
    text-align: center;
}

.image-overlay-wrapper {
    position: relative;
    display: inline-block;
}

#uploaded-image {
    max-width: 100%;
    max-height: 500px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
    -webkit-user-drag: none; /* Safari */
    pointer-events: none; /* Impedir interação com a imagem */
}

/* Certifique-se de que o canvas está alinhado com a imagem */
#image-canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: none; /* Remover a borda para evitar deslocamento */
}


/* Zonas desenhadas sobre a imagem */
.zone {
    position: absolute;
    border: 2px solid red;
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

.editing-zone {
    border: 2px solid blue;
    color: blue;
    background-color: rgba(0, 0, 255, 0.1);
}

/* Alças de redimensionamento */
.resize-handle {
    width: 10px;
    height: 10px;
    background: blue;
    position: absolute;
    cursor: pointer;
}

.resize-handle.top-left {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.resize-handle.top-right {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

.resize-handle.bottom-left {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

.resize-handle.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}

/* Grade no canvas */
canvas {
    border: 1px solid #ddd;
    max-width: 100%;
    display: block;
    margin-top: 10px;
}